.view{
    background-color: rgb(171, 189, 196);
    position: fixed;
    top: 17em;
    right: 10em;
    left: 10em;
    padding: 1em;
    border-radius: 25px;
    font-size: 1.5em;
}
.view__div{
    margin: .3em 0;
    text-align: left;
}
.view button{
    font-size: 1.4em;
    margin-top: 1em;
    padding: .4em 1em;
    border-radius: 35px;
    background-color: rgb(234, 235, 235);
}
.view button:hover{
    cursor: pointer;
    background-color: rgb(171, 189, 196);
    border: 2px solid rgb(234, 235, 235)
}